{% extends 'base.html' %}

{% block title %}
Purchase
{% endblock title %}

{% block body %}
<div class="container my-4" style="background-color: #f8f9fa; border-radius: 15px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);">
    <div class="p-5">
        <h1 class="display-5 fw-bold text-center text-dark">Checkout</h1>
        <p class="text-center text-muted fs-5">{{ cname1 }}, {{ val }}  units by <strong>{{ user.username }}</strong> {{ user.username }}</p>
        <p class="text-center text-muted fs-5 mb-4">Enjoy the rest of your day!</p>
        <div class="text-center">
            <a class="btn btn-secondary btn-lg" href="/">Continue to Home</a>
        </div>
        <p class="text-center text-secondary fs-6 mt-4">Total remaining Tooling Units in store: <strong>{{ tc }}</strong></p>
    </div>
</div>
{% endblock body %}
